.layout-top .content .ThemeGrid_Container {
    margin: var(--space-l) auto;
    padding: var(--space-xl);
    width: 100%;
    }



.content-top-title {
    line-height: 0.8;
    letter-spacing: -1px;
    margin-bottom: var(--space-xxl);
    margin-top: var(--space-l);
    font-weight: var(--font-bold);
    font-size: var(--font-size-display);
    color: var(--color-neutral-09);
    }